{% extends '@EduBox/admin_layout.html.twig' %}

{% set title = 'Attendance' %}

{% set studentsGroupsTableContent %}
    <thead>
    <tr>
        <th>Name</th>
    </tr>
    </thead>
    <tbody>
    {% for _studentsGroup in studentsGroups %}
        <tr>
            <td>
                {% if studentsGroup is not null and studentsGroup.id == _studentsGroup.id %}
                    <a href="{{ path(app.request.attributes.get('_route'), {'studentsGroupId':_studentsGroup.id}) }}">
                        <b>{{ _studentsGroup.name }}</b>
                    </a>
                {% else %}
                    <a href="{{ path(app.request.attributes.get('_route'), {'studentsGroupId':_studentsGroup.id}) }}">
                        {{ _studentsGroup.name }}
                    </a>
                {% endif %}
            </td>
        </tr>
    {% else %}
        <th>Students groups not found</th>
    {% endfor %}
    </tbody>
{% endset %}

{% set subjectsTableContent %}
    <thead>
    <tr>
        <th>Name</th>
    </tr>
    </thead>
    <tbody>
    {% for _subject in subjects %}
        <tr>
            <td>
                {% if subject is not null and subject.id == _subject.id %}
                    <a href="{{ path(app.request.attributes.get('_route'), {'studentsGroupId':studentsGroup.id, 'subjectId':_subject.id}) }}">
                        <b>{{ _subject.name }}</b>
                    </a>
                {% else %}
                    <a href="{{ path(app.request.attributes.get('_route'), {'studentsGroupId':studentsGroup.id, 'subjectId':_subject.id}) }}">
                        {{ _subject.name }}
                    </a>
                {% endif %}
            </td>
        </tr>
    {% else %}
        {% if studentsGroup is not null %}
            <th>Subjects not found</th>
        {% else %}
            <th>Select a students group</th>
        {% endif %}
    {% endfor %}
    </tbody>
{% endset %}

{% set attendanceTableContent %}
    <thead>
    <tr>
        <th>Fullname</th>
        <th>Attendance</th>
    </tr>
    </thead>
    <tbody>
    {% for _attendance in subAttendance %}
        <tr>
            <td>{{ _attendance.fullname }}</td>
            <td>{{ _attendance.attendance }}</td>
        </tr>
    {% else %}
        <th>Students not found</th>
    {% endfor    %}
    </tbody>
{% endset %}

{% block content %}
    <div class="row">
        <div class="col-md-3">
            {% include '@EduBox/Block/box_table.html.twig' with {'table_content':studentsGroupsTableContent} %}
        </div>
        <div class="col-md-3">
            {% include '@EduBox/Block/box_table.html.twig' with {'table_content':subjectsTableContent} %}
        </div>
        <div class="col-md-6">
            <div class="box box-primary">
                <div class="box-header">
                    <div class="box-title"></div>
                    <div class="box-tools pull-right">
                        <ul class="pagination pagination-sm inline">
                            <li class="{% if quarter == 1 %}active{% else %}{% endif %}"><a href="{{ path(app.request.attributes.get('_route'), {'quarter': 1}+app.request.attributes.get('_route_params')) }}">1</a></li>
                            <li class="{% if quarter == 2 %}active{% else %}{% endif %}"><a href="{{ path(app.request.attributes.get('_route'), {'quarter': 2}+app.request.attributes.get('_route_params')) }}">2</a></li>
                            <li class="{% if quarter == 3 %}active{% else %}{% endif %}"><a href="{{ path(app.request.attributes.get('_route'), {'quarter': 3}+app.request.attributes.get('_route_params')) }}">3</a></li>
                            <li class="{% if quarter == 4 %}active{% else %}{% endif %}"><a href="{{ path(app.request.attributes.get('_route'), {'quarter': 4}+app.request.attributes.get('_route_params')) }}">4</a></li>
                        </ul>
                    </div>
                </div>
                <div class="box-body">
                    <div id="line-chart" style="height: 300px;"></div>
                </div>
            </div>
            {% include '@EduBox/Block/box_table.html.twig' with {'table_content':attendanceTableContent} %}
        </div>
    </div>
    <script src="{{ asset('assets/bower_components/Flot/jquery.flot.js') }}"></script>
    <script src="{{ asset('assets/bower_components/Flot/jquery.flot.resize.js') }}"></script>
    <script src="{{ asset('assets/bower_components/Flot/jquery.flot.pie.js') }}"></script>
    <script src="{{ asset('assets/bower_components/Flot/jquery.flot.categories.js') }}"></script>
    <script>
        var attendance = [
        {% for quarter,_attendance in attendance %}
         [{{ quarter }}, {{ _attendance }}],
        {% endfor %}
        ];
        console.log(attendance);
        var line_data1 = {
            data : attendance,
            color: '#3c8dbc'
        }
        $.plot('#line-chart', [line_data1], {
            grid  : {
                hoverable  : true,
                borderColor: '#f3f3f3',
                borderWidth: 1,
                tickColor  : '#f3f3f3'
            },
            series: {
                shadowSize: 0,
                lines     : {
                    show: true
                },
                points    : {
                    show: true
                }
            },
            lines : {
                fill : false,
                color: ['#3c8dbc', '#f56954']
            },
            yaxis : {
                show: true
            },
            xaxis : {
                show: true
            }
        });
        $('<div class="tooltip-inner" id="line-chart-tooltip"></div>').css({
            position: 'absolute',
            display : 'none',
            opacity : 0.8
        }).appendTo('body');
        $('#line-chart').bind('plothover', function (event, pos, item) {
            if (item) {
                var x = item.datapoint[0].toFixed(2),
                    y = item.datapoint[1].toFixed(2);

                $('#line-chart-tooltip').html(item.series.label + ' of ' + x + ' = ' + y)
                    .css({ top: item.pageY + 5, left: item.pageX + 5 })
                    .fadeIn(200)
            } else {
                $('#line-chart-tooltip').hide()
            }
        });
    </script>
{% endblock %}
