{% extends '@EduBox/admin_layout.html.twig' %}

{% set title = 'Rating_list'|trans([], 'EduBoxBundle') %}

{% set tableContent %}
    <thead>
    <tr>
        <th>№</th>
        <th>{{ 'user.full_name'|trans([], 'forms') }}</th>
        <th>{{ 'user.score'|trans([], 'forms') }}</th>
    </tr>
    </thead>
    <tbody>
    {% for student in students %}
        <tr>
            <td>{{ loop.index }}</td>
            <td>
                {% if is_granted('ROLE_EDUBOX_ADMIN_USER_ALL') or is_granted('ROLE_EDUBOX_ADMIN_USER_LIST') %}
                    <a href={{ path('edubox.admin.user_show', {'id': student.id}) }}>
                        {{ student.fullname }}
                    </a>
                {% else %}
                    {{ student.fullname }}
                {% endif %}
            </td>
            <td>
                {{ student.score }}
            </td>
        </tr>
    {% endfor %}
    </tbody>
{% endset %}

{% block content %}
    {% include '@EduBox/Block/box_table.html.twig' with {'table_content':tableContent} %}
{% endblock %}
