{% extends '@EduBox/admin_layout.html.twig' %}

{% set title = 'Show lesson' %}
{% set box_title %}
    Lesson in class {{ lesson.studentsGroup.name }} of the subject of {{ lesson.subject.name }} on {{ lesson.date.format('d.m.Y') }}-{{ lesson.hour }}
{% endset %}

{% block actions %}
    <li>
        <a class="sonata-action-element" href="{{ path('edubox.admin.lesson_listLesson', {'subjectId':lesson.subject.id, 'studentsGroupId': lesson.studentsGroup.id}) }}">
            <i class="fa fa-list" aria-hidden="true"></i>
            Return to list
        </a>
    </li>
{% endblock %}

{% set table_content %}
    <tbody>
        <tr class="sonata-ba-view-container">
            <th>Name</th>
            <td>{{ lesson.name }}</td>
        </tr>
        <tr class="sonata-ba-view-container">
            <th colspan="2">Content</th>
        </tr>
        <tr class="sonata-ba-view-container">
            <td colspan="2">{{ lesson.content|raw }}</td>
        </tr>
        <tr class="sonata-ba-view-container">
            <th>Homework</th>
            <td>
                <ul>
                {% for homework in lesson.homeworks %}
                    <l>
                        <a href="{{ path('edubox.admin.homework_show', {'id':homework.id}) }}">{{ homework.name }}</a>
                    </l>
                {% endfor %}
                </ul>
            </td>
        </tr>
    </tbody>
{% endset %}

{% block content %}
    {% include '@EduBox/Block/box_table.html.twig' with {'table_content':table_content, 'box_title':box_title} only %}
{% endblock %}

