{% extends '@EduBox/admin_layout.html.twig' %}

{% set title = 'Show lesson' %}
{% set box_title %}
    {{ lesson.studentsGroup.name }} | {{ lesson.subject.name }} | {{ lesson.date.format('d.m.Y') }} | {{ lesson.hour }}
{% endset %}

{% block actions %}
    <li>
        <a class="sonata-action-element" href="{{ path('edubox.admin.lesson_listLesson', {'subjectId':lesson.subject.id, 'studentsGroupId':lesson.studentsGroup.id}) }}">
            <i class="fa fa-list" aria-hidden="true"></i>
            Lessons list
        </a>
    </li>
{% endblock %}

{% set box_body %}
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                {% include '@EduBox/Field/input.html.twig' with {'field':form.name} %}
            </div>
        </div>
        <div class="col-md-12">
            <div class="form-group">
                {% include '@EduBox/Field/input.html.twig' with {'field':form.content} %}
            </div>
        </div>
        <div class="col-md-12">
            <div class="form-group">
                {% include '@EduBox/Field/input.html.twig' with {'field':form.homeworks} %}
            </div>
        </div>
    </div>
{% endset %}

{% block content %}
    {{ form_start(form) }}
    {% include '@EduBox/Block/box.html.twig' with {'box_body':box_body, 'box_title':box_title} only %}
    <div class="sonata-ba-form-actions well well-small form-actions">
        <button type="submit" class="btn btn-success">Save lesson</button>
    </div>
    {{ form_end(form) }}
{% endblock %}
