{% extends '@EduBox/admin_layout.html.twig' %}

{% set title = 'Subject_list'|trans([], 'EduBoxBundle') %}

{% block actions %}
    <li>
        <a class="sonata-action-element" href="{{ path('edubox.admin.subject_create') }}">
            <i class="fa fa-plus-circle" aria-hidden="true"></i>
            {{ 'link_action_create'|trans([], 'SonataAdminBundle') }}
        </a>
    </li>
{% endblock %}

{% set box_body %}
    <thead>
        <tr>
            <th>{{ 'subject.name'|trans([], 'forms') }}</th>
            <th>{{ 'subject.subject_area'|trans([], 'forms') }}</th>
            <th>{{ 'subject.teacher'|trans([], 'forms') }}</th>
            <th>{{ 'subject.classes'|trans([], 'forms') }}</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for subject in subjects %}
            <tr>
                <td>{{ subject.name }}</td>
                <td>
                    {% if subject.subjectArea != null %}
                        {{ subject.subjectArea.name }}
                    {% else %}
                        -
                    {% endif %}
                </td>
                <td>
                    {% if subject.user != null %}
                        {{ subject.user.fullName }}
                    {% else %}
                        -
                    {% endif %}
                </td>
                <td>
                    {% for students_group in subject.studentsGroups %}
                        {{ students_group.name }}
                        {% if not loop.last %}
                            ,
                        {% endif %}
                    {% else %}
                        -
                    {% endfor %}
                </td>
                <td>
                    <a href="{{ path('edubox.admin.subject_edit', {'id':subject.id}) }}" class="btn btn-success">
                        <i class="fa fa-edit"></i>
                        {{ 'link_edit'|trans([], 'SonataAdminBundle') }}
                    </a>
                    <form action="{{ path('edubox.admin.subject_delete', {'id':subject.id}) }}" method="post" style="display: inline">
                        <input type="hidden", name="token" value="{{ csrf_token('delete') }}">
                        <button type="submit" class="btn btn-danger">
                            <i class="fa fa-trash"></i>
                            {{ 'link_delete'|trans([], 'SonataAdminBundle') }}
                        </button>
                    </form>
                </td>
            </tr>
        {% endfor %}
    </tbody>
{% endset %}

{% block content %}
    {% include '@EduBox/Block/box_table.html.twig' with {'table_content':box_body} %}
{% endblock %}
