{% extends '@EduBox/admin_layout.html.twig' %}


{% set title = 'User_edit'|trans([], 'EduBoxBundle') %}

{% block actions %}
    <li>
        <a class="sonata-action-element" href="{{ path('edubox.admin.user_list') }}">
            <i class="fa fa-list" aria-hidden="true"></i>
            {{ 'link_action_list'|trans([], 'SonataAdminBundle') }}
        </a>
    </li>
{% endblock %}

{% set user_tab_title = 'user.tab_user'|trans([], 'forms') %}
{% set user_tab_content %}
    <div class="row">
        <div class="col-md-4">
            <div class="form-group {% if not user.username.vars.valid %}has-error{% endif %}">
                {% include 'EduBoxBundle:Field:input.html.twig' with {'field':user.username} %}
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group {% if not user.email.vars.valid %}has-error{% endif %}">
                {% include 'EduBoxBundle:Field:input.html.twig' with {'field':user.email} %}
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group {% if not user.phone.vars.valid %}has-error{% endif %}">
                {% include 'EduBoxBundle:Field:input.html.twig' with {'field':user.phone} %}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="form-group {% if not user.lastName.vars.valid %}has-error{% endif %}">
                {% include 'EduBoxBundle:Field:input.html.twig' with {'field':user.lastName} %}
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group {% if not user.firstName.vars.valid %}has-error{% endif %}">
                {% include 'EduBoxBundle:Field:input.html.twig' with {'field':user.firstName} %}
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group {% if not user.middleName.vars.valid %}has-error{% endif %}">
                {% include 'EduBoxBundle:Field:input.html.twig' with {'field':user.middleName} %}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="form-group {% if not user.gender.vars.valid %}has-error{% endif %}">
                {% include 'EduBoxBundle:Field:input.html.twig' with {'field':user.gender} %}
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group {% if not user.birthday.vars.valid %}has-error{% endif %}">
                {% include 'EduBoxBundle:Field:date.html.twig' with {'field':user.birthday} %}
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group {% if not user.roles.vars.valid %}has-error{% endif %}">
                {% include 'EduBoxBundle:Field:input.html.twig' with {'field':user.roles} %}
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group {% if not user.enabled.vars.valid %}has-error{% endif %}">
                {% include 'EduBoxBundle:Field:input.html.twig' with {'field':user.enabled} %}
            </div>
        </div>
    </div>
{% endset %}

{% if user.admin_form is defined %}
    {% set admin_tab_title = 'user.tab_admin'|trans([], 'forms') %}
    {% set admin_tab_content %}
        {{ form_widget(user.admin_form) }}
        <div class="row">

        </div>
    {% endset %}
{% endif %}

{% if user.teacher_form is defined %}
    {% set teacher_tab_title = 'user.tab_teacher'|trans([], 'forms') %}
    {% set teacher_tab_content %}
        {{ form_widget(user.teacher_form) }}
        <div class="row">

        </div>
    {% endset %}
{% endif %}

{% if user.parent_form is defined %}
    {% set parent_tab_title = 'user.tab_parent'|trans([], 'forms') %}
    {% set parent_tab_content %}
        {{ form_widget(user.parent_form) }}
        <div class="row">
            <div class="col-md-4">
                <div class="form-group {% if not user.parent_form.children.vars.valid %}has-error{% endif %}">
                    {% include 'EduBoxBundle:Field:input.html.twig' with {'field':user.parent_form.children} %}
                </div>
            </div>
        </div>
    {% endset %}
{% endif %}

{% if user.student_form is defined %}
    {% set student_tab_title = 'user.tab_student'|trans([], 'forms') %}
    {% set student_tab_content %}
        <div class="row">
            <div class="col-md-4">
                <div class="form-group {% if not user.student_form.group.vars.valid %}has-error{% endif %}">
                    {% include 'EduBoxBundle:Field:input.html.twig' with {'field':user.student_form.group} %}
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group {% if not user.student_form.parent.vars.valid %}has-error{% endif %}">
                    {% include 'EduBoxBundle:Field:input.html.twig' with {'field':user.student_form.parent} %}
                </div>
            </div>
        </div>
        <!--{{ form_widget(user.student_form) }}-->
    {% endset %}
{% endif %}


{% block content %}
    {{ form_start(user) }}
        {% set tabs = {1:{'title':user_tab_title, 'content':user_tab_content, 'id': 'user'}} %}

        {% if (admin_tab_title is defined) %}
            {% set tabs = tabs + {2:{'title':admin_tab_title, 'content':admin_tab_content, 'id': 'student'}} %}
        {% endif %}

        {% if (teacher_tab_title is defined) %}
            {% set tabs = tabs + {3:{'title':teacher_tab_title, 'content':teacher_tab_content, 'id': 'student'}} %}
        {% endif %}

        {% if (parent_tab_title is defined) %}
            {% set tabs = tabs + {4:{'title':parent_tab_title, 'content':parent_tab_content, 'id': 'student'}} %}
        {% endif %}

        {% if (student_tab_title is defined) %}
            {% set tabs = tabs + {5:{'title':student_tab_title, 'content':student_tab_content, 'id': 'student'}} %}
        {% endif %}

        {% include 'EduBoxBundle:Block:box_tab.html.twig' with {
            'tabs': tabs,
        } only %}

        <div class="sonata-ba-form-actions well well-small form-actions">
            {{ form_widget(user.submit, {'attr':{'class':'btn btn-success'},'label':'btn_update'|trans([], 'SonataAdminBundle') }) }}
        </div>
    {{ form_end(user) }}
{% endblock %}