{% extends '@EduBox/admin_layout.html.twig' %}

{% set title = 'Students' %}

{% set studentsGroupsTableContent %}
    <thead>
    <tr>
        <th>Name</th>
    </tr>
    </thead>
    <tbody>
    {% for _studentsGroup in studentsGroups %}
        <tr>
            <td>
                <a href={{ path(app.request.attributes.get('_route'), {'studentsGroupId': _studentsGroup.id}) }}>
                    {% if studentsGroup is not null and  _studentsGroup.id == studentsGroup.id %}
                        <b>{{ _studentsGroup.name }}</b>
                    {% else %}
                        {{ _studentsGroup.name }}
                    {% endif %}
                </a>
            </td>
        </tr>
    {% endfor %}
    </tbody>
{% endset %}

{% set studentsTable %}
    <thead>
    <tr>
        <th>Fullname</th>
    </tr>
    </thead>
    <tbody>
        {% for student in students %}
            <tr>
                <td>
                    <a href="{{ path('edubox.admin.user_show', {'id': student.id}) }}">{{ student.fullname }}</a>
                </td>
            </tr>
        {% else %}
            <th>Students group not selected or students not found</th>
        {% endfor %}
    </tbody>
{% endset %}

{% block content %}
    <div class="row">
        <div class="col-md-4">
            {% include '@EduBox/Block/box_table.html.twig' with {'table_content':studentsGroupsTableContent, 'box_title': 'Students groups'} %}
        </div>
        <div class="col-md-8">
            {% include '@EduBox/Block/box_table.html.twig' with {'table_content':studentsTable, 'box_title': 'Students'} %}
        </div>
    </div>
{% endblock %}
