{% extends 'EduBoxBundle::standard_layout.html.twig' %}

{% set title = 'Subject areas' %}

{% block actions %}
    <li>
        <a class="sonata-action-element" href="{{ path('edubox.admin.subject_area_create') }}">
            <i class="fa fa-plus-circle" aria-hidden="true"></i>
            Add new
        </a>
    </li>
{% endblock %}

{% set box_body %}
    <thead>
        <tr>
            <th>Name</th>
            <th>Subjects count</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for subject_area in subject_areas %}
            <tr>
                <td>{{ subject_area.name }}</td>
                <td>
                    {{ subject_area.subjects|length }}
                </td>
                <td>
                    <a href="{{ path('edubox.admin.subject_area_edit', {'id':subject_area.id}) }}" class="btn btn-success">
                        <i class="fa fa-edit"></i>
                    </a>
                    <form action="{{ path('edubox.admin.subject_area_delete', {'id':subject_area.id}) }}" method="post" style="display: inline">
                        <input type="hidden", name="token" value="{{ csrf_token('delete') }}">
                        <button type="submit" class="btn btn-danger"><i class="fa fa-trash"></i></button>
                    </form>
                </td>
            </tr>
        {% endfor %}
    </tbody>
{% endset %}

{% block content %}
    {% include '@EduBox/Block/box_table.html.twig' with {'table_content':box_body} %}
{% endblock %}
