{% extends '@EduBox/admin_layout.html.twig' %}

{% set title = 'Lessons on the subject: ' ~ subject.name %}

{% block actions %}
    <li>
        <a class="sonata-action-element" href="{{ path('edubox.admin.lesson_list') }}">
            <i class="fa fa-list" aria-hidden="true"></i>
            Subjects list
        </a>
    </li>
{% endblock %}

{% set box_body %}
    <thead>
    <tr>
        <th>Name</th>
        <th>Date</th>
        <th>Hour</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    {% for lesson in lessons %}
        <tr>
            <td>{% if lesson.name == null %}-{% else %} {{ lesson.name }} {% endif %}</td>
            <td>{{ lesson.date.format('d.m.Y') }}</td>
            <td>{{ lesson.hour }}</td>
            <td>
                <a href="{{ path('edubox.admin.lesson_edit', {'id':lesson.id}) }}" class="btn btn-success"><i class="fa fa-edit"></i></a>
            </td>
        </tr>
    {% endfor %}
    </tbody>
{% endset %}

{% block content %}
    {% include '@EduBox/Block/box_table.html.twig' with {'table_content':box_body} %}
{% endblock %}
