{% extends '@EduBox/admin_layout.html.twig' %}

{% set title = 'Subject_schedules_edit'|trans([], 'EduBoxBundle') %}

{% block actions %}
    <li>
        <a class="sonata-action-element" href="{{ path('edubox.admin.subject_schedule_listSchedule', {'id': schedules_group_id}) }}">
            <i class="fa fa-list" aria-hidden="true"></i>
            {{ 'link_action_list'|trans([], 'SonataAdminBundle') }}
        </a>
    </li>
{% endblock %}

{% set box_body %}
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                {% include '@EduBox/Field/input.html.twig' with {'field':subject_schedule_form.studentsGroup} %}
            </div>
        </div>
    </div>
    <div class="row">
            {% for day in 1..6 %}
                <div class="col-md-4">
                    <h4>{{ ('subject_schedule.day_'~day)|trans([], 'forms') }}</h4>
                    {% for hour in 1..hours %}
                        {% set _hour_field = attribute(attribute(subject_schedule_form.schedule, day), hour) %}
                        <div class="form-group  {% if not _hour_field.vars.valid %}has-error{% endif %}">
                            {{ form_label(_hour_field, _hour_field.vars.label|trans({'%hour%':hour}, 'forms')) }}
                            {{ form_widget(_hour_field, {'attr':{'class':'form-control'}}) }}
                        </div>
                    {% endfor %}
                    <br><br>
                </div>
            {% endfor %}
    </div>
{% endset %}

{% block content %}
    {{ form_start(subject_schedule_form) }}
    {% include '@EduBox/Block/box.html.twig' with {'box_body':box_body} %}
    <div class="sonata-ba-form-actions well well-small form-actions">
        {{ form_widget(subject_schedule_form.submit, {'attr':{'class':'btn btn-success'} }) }}
    </div>
    {{ form_end(subject_schedule_form) }}
{% endblock %}
