{% extends '@EduBox/admin_layout.html.twig' %}

{% set title = 'Subject schedules groups' %}

{% block actions %}
    <li>
        <a class="sonata-action-element" href="{{ path('edubox.admin.subject_schedule_create') }}">
            <i class="fa fa-plus-circle" aria-hidden="true"></i>
            Add new
        </a>
    </li>
{% endblock %}

{% set box_body %}
    <thead>
        <tr>
            <th>Name</th>
            <th>Status</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for subject_schedules_group in subject_schedules_groups %}
            <tr>
                <td>{{ subject_schedules_group.name }}</td>
                <td>{{ subject_schedules_group_manager.getStatus(subject_schedules_group) }}</td>
                <td>
                    <a href="{{ path('edubox.admin.subject_schedule_listSchedule', {'id':subject_schedules_group.id}) }}" class="btn btn-success">
                        <i class="fa fa-list"></i>
                    </a>
                    <a href="{{ path('edubox.admin.subject_schedule_edit', {'id':subject_schedules_group.id}) }}" class="btn btn-success">
                        <i class="fa fa-edit"></i>
                    </a>
                    <form action="{{ path('edubox.admin.subject_schedule_delete', {'id':subject_schedules_group.id}) }}" method="post" style="display: inline">
                        <input type="hidden" name="token" value="{{ csrf_token('delete') }}">
                        <button type="submit" class="btn btn-danger"><i class="fa fa-trash"></i></button>
                    </form>
                </td>
            </tr>
        {% endfor %}
    </tbody>
{% endset %}

{% block content %}
    {% include '@EduBox/Block/box_table.html.twig' with {'table_content':box_body} %}
{% endblock %}
