{% extends 'EduBoxBundle::admin_layout.html.twig' %}

{% set title = 'Quarter_list'|trans([], 'EduBoxBundle') %}

{% block content %}
    {% if studentsGroups is defined %}
        {% set table_content_1 %}
            {% if studentsGroups|length > 0 %}
                <tbody>
                {% for studentsGroup in studentsGroups %}
                    <tr>
                        <td>
                            <a href="{{ path(app.request.get('_route'), {'studentsGroupId': studentsGroup.id}) }}">
                                {% if studentsGroupId == studentsGroup.id %}
                                    <strong>{{ studentsGroup.name }}</strong>
                                {% else %}
                                    {{ studentsGroup.name }}
                                {% endif %}
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            {% endif %}
        {% endset %}
        {% set table_content_2 %}
            {% if students|length > 0 %}
                <tbody>
                {% for student in students %}
                    <tr>
                        <td><a href="{{ path('edubox.admin.quarter_show',{'studentId': student.id}) }}">{{ student.fullname }}</a></td>
                    </tr>
                {% endfor %}
                </tbody>
            {% endif %}
        {% endset %}
        <div class="row">
            <div class="col-md-4">
                {% include '@EduBox/Block/box_table.html.twig' with {'table_content': table_content_1, 'box_title':'students_groups'|trans([], 'EduBoxBundle')} only %}
            </div>
            <div class="col-md-8">
                {% include '@EduBox/Block/box_table.html.twig' with {'table_content': table_content_2, 'box_title':'students'|trans([], 'EduBoxBundle')} only %}
            </div>
        </div>
    {% elseif students is defined %}
        {% set table_content %}
            <tbody>
            {% for student in students %}
                <tr>
                    <td><a href="{{ path('edubox.admin.quarter_show',{'studentId': student.id}) }}">{{ student.fullname }}</a></td>
                </tr>
            {% endfor %}
            </tbody>
        {% endset %}
        {% include '@EduBox/Block/box_table.html.twig' with {'table_content': table_content, 'box_title':'students'|trans([], 'EduBoxBundle')} only %}
    {% endif %}
    {% endblock %}