{% extends '@EduBox/admin_layout.html.twig' %}

{% set title = 'subject_schedules'|trans([], 'EduBoxBundle') %}

{% block content %}
    <div class="row">
        {% for day in 1..6 %}
            <div class="col-md-6 diary">
                <div class="box box-primary">
                    <div class="box-header">
                        <h3 class="box-title">
                            {{ ('subject_schedule.day_'~day)|trans([], 'forms') }}
                        </h3>
                    </div>
                    <div class="box-body no-padding">
                        <table class="table">
                            <tbody>
                            <tr>
                                <th style="width: 5%">№</th>
                                <th style="width: 5%">{{ 'subject_schedule.class'|trans([], 'forms') }}</th>
                                <th style="width: 5%">{{ 'subject_schedule.subject'|trans([], 'forms') }}</th>
                            </tr>
                                {% for hour in 1..7 %}
                                    <tr>
                                        <td>{{ hour }}</td>
                                        <td>
                                            {% if schedule[day][hour].studentsGroup.name is defined %}
                                                {{ schedule[day][hour].studentsGroup.name }}
                                            {% else %}
                                                -
                                            {% endif %}
                                        </td>
                                        <td>
                                            {% if schedule[day][hour].subject.name is defined %}
                                                {{ schedule[day][hour].subject.name }}
                                            {% else %}
                                                -
                                            {% endif %}
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
