{% if is_granted('ROLE_USER') %}
    <li>
        {% if app.request.getSession.get('_theme') == 'dark' %}
            <a href="{{ path(app.request.attributes.get('_route'), {'_theme':'light'}+app.request.attributes.get('_route_params')) }}">
                <i class="fa fa-sun-o"></i>
            </a>
        {% else %}
            <a href="{{ path(app.request.attributes.get('_route'), {'_theme':'dark'}+app.request.attributes.get('_route_params')) }}">
                <i class="fa fa-moon-o"></i>
            </a>
        {% endif %}
    </li>
{% endif %}

{% if is_granted('ROLE_PARENT') %}
    {% set students = parent_manager.getStudents(app.user) %}
    {% if students[0] is defined %}
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                {% set student = user_manager.object(app.request.getSession.get('_student_id')) %}
                {% if student != null %}
                    {{ student.fullname }}
                {% else %}
                    {{ students[0].fullname }}
                {% endif %}
            </a>
            <ul class="dropdown-menu">
                {% for _student in students %}
                    <li>
                        <a href="{{ path(app.request.attributes.get('_route'), {'_student_id':_student.id}+app.request.attributes.get('_route_params')) }}">
                            {{ _student.fullname }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </li>
    {% endif %}
{% endif %}

<li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
        {% if app.request.getLocale() == 'en' %}
            EN
        {% elseif app.request.getLocale() == 'tm' %}
            TM
        {% endif %}
    </a>
    <ul class="dropdown-menu">
        <li>
            <a href="{{ path(app.request.attributes.get('_route'), {'_locale':'en'}+app.request.attributes.get('_route_params')) }}">
                EN
            </a>
        </li>
        <li>
            <a href="{{ path(app.request.attributes.get('_route'), {'_locale':'tm'}+app.request.attributes.get('_route_params')) }}">
                TM
            </a>
        </li>
    </ul>
</li>
