{% set tabs = not tabs is defined ? {} : tabs %}

{% trans_default_domain 'forms' %}

<div class="nav-tabs-custom">
    <ul class="nav nav-tabs" role="tablist">
        {% for tab in tabs %}
            <li class="{% if loop.first %}active{% endif %}">
                <a href="#{{ tab.id }}" class="changer-tab" aria-controls="{{ tab.id }}" data-toggle="tab" aria-expanded="{% if loop.first %}true{% else %}false{% endif %}">
                    {{ tab.title|trans }}
                </a>
            </li>
        {% endfor %}
    </ul>
    <div class="tab-content">
        {% for tab in tabs %}
            <div class="tab-pane fade {% if loop.first %}active in{% endif %}" id="{{ tab.id }}">
                <div class="box-body container-fluid">
                    {{ tab.content }}
                </div>
            </div>
        {% endfor %}
    </div>
</div>