<!-- User image -->
<li class="user-header">
    <p>
        {{ app.user.fullname }}
    </p>
    <hr>
    <p>
        (@{{ app.user.username }})
        <small>
            {% for role in app.user.roles %}
                {{ role|trans }} {% if not loop.last %}, {% endif %}
            {% endfor %}
        </small>
    </p>
</li>
<!-- Menu Body -->
<li class="user-body">
    <div class="row">
        <div class="col-xs-4 text-center">
            <a href="#">Messages</a>
        </div>
        <div class="col-xs-4 text-center">
            <a href="#">Notices</a>
        </div>
        <div class="col-xs-4 text-center">
            <a href="#">Logs</a>
        </div>
    </div>
    <!-- /.row -->
</li>
<!-- Menu Footer-->
<li class="user-footer">
    <div class="pull-left">
        <a href="{{ path('fos_user_profile_show') }}" class="btn btn-default btn-flat">Profile</a>
    </div>
    <div class="pull-right">
        <a href="{{ path('fos_user_security_logout') }}" class="btn btn-default btn-flat">Sign out</a>
    </div>
</li>