{% extends '@EduBox/admin_layout.html.twig' %}

{% set title = 'Diary_list'|trans([], 'EduBoxBundle') %}

{% block sonata_admin_content_actions_wrappers %}
    <ul class="nav navbar-nav navbar-right">
        <li><a href="{{ path('edubox.admin.diary_list', {'next': next-1}) }}"><i class="fa fa-chevron-circle-left"></i></a></li>
        <li><a href="{{ path('edubox.admin.diary_list', {'next': next+1}) }}"><i class="fa fa-chevron-circle-right"></i></a></li>
    </ul>
{% endblock %}

{% block content %}
    <div class="row">
        {% for day,hours in diary %}
            <div class="col-md-6 diary">
                <div class="box box-primary">
                    <div class="box-header">
                        <h3 class="box-title">
                            {% if hours['date'] is defined %}{{ ('subject_schedule.day_'~hours['date'].format('w'))|trans([], 'forms') }}{{ hours['date'].format(', d-m-Y') }}{% endif %}
                        </h3>
                    </div>
                    <div class="box-body no-padding">
                        <table class="table">
                            <tbody>
                            <tr>
                                <th style="width: 5%">№</th>
                                <th style="width: 30%">{{ 'subject'|trans([], 'forms') }}</th>
                                <th style="width: 30%">{{ 'homework.lesson'|trans([], 'forms') }}</th>
                                <th style="width: 30%">{{ 'mark'|trans([], 'forms') }}</th>
                            </tr>
                            {% for number,hour in hours %}
                                {% if number != 'date' %}
                                    <tr>
                                        <td>{{ number }}</td>
                                        <td style="white-space: nowrap;">{% if hour.subject != null %} {{ hour.subject.name }} {% endif %}</td>
                                        <td>{% if hour.lesson != null %} <a href="{{ path('edubox.admin.lesson_show', {'id':hour.lesson.id}) }}">{{ hour.lesson.name }}</a> {% endif %}</td>
                                        <td>{% if hour.mark != null %} {{ ('mark_'~hour.mark.mark)|trans([], 'forms') }} {% endif %}</td>
                                    </tr>
                                {% endif %}
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
