{% extends '@EduBox/admin_layout.html.twig' %}

{% set title = 'Journal_list'|trans([], 'EduBoxBundle') %}

{% set box_body %}
    <thead>
    <tr>
        <th>{{ 'class'|trans([], 'forms') }}</th>
        <th>{{ 'subject'|trans([], 'forms') }}</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    {% for subject in subjects %}
        {% for group in subject.studentsGroups %}
            <tr>
                <td>{{ subject.name }}</td>
                <td>{{ group.name }}</td>
                <td></td>
                <td></td>
                <td>
                    <a href="{{ path('edubox.admin.journal_show', {'studentsGroupId':group.id,'subjectId':subject.id}) }}" class="btn btn-success">
                        <i class="fa fa-edit"></i>
                        {{ 'link_edit'|trans([], 'SonataAdminBundle') }}
                    </a>
                </td>
            </tr>
        {% endfor %}
    {% endfor %}
    </tbody>
{% endset %}

{% block content %}
    {% include '@EduBox/Block/box_table.html.twig' with {'table_content':box_body} %}
{% endblock %}
