{% extends 'EduBoxBundle::admin_layout.html.twig' %}

{% set title = 'Quarter_show'|trans([], 'EduBoxBundle') %}

{% set float_match = '/^[-+]?[0-9]*\\.?[0-9]+$/' %}



{% set table_content %}
    <thead>
        <th>{{ 'subject'|trans([], 'forms') }}</th>
        <th>{{ 'subject.teacher'|trans([], 'forms') }}</th>
        <th>{{ 'quarter_1'|trans([], 'forms') }}</th>
        <th>{{ 'quarter_2'|trans([], 'forms') }}</th>
        <th>{{ 'quarter_3'|trans([], 'forms') }}</th>
        <th>{{ 'quarter_4'|trans([], 'forms') }}</th>
    </thead>
    <tbody>
    {% for subject in subjectsWithQuarter %}
        <tr>
            <td>{{ subject['name'] }}</td>
            <td>{{ subject['teacher'] }}</td>
            <td>{% if subject['quarter'][1] matches float_match %} {{ subject['quarter'][1]|round }} {% else %} {{ subject['quarter'][1] }} {% endif %}</td>
            <td>{% if subject['quarter'][2] matches float_match %} {{ subject['quarter'][2]|round }} {% else %} {{ subject['quarter'][2] }} {% endif %}</td>
            <td>{% if subject['quarter'][3] matches float_match %} {{ subject['quarter'][3]|round }} {% else %} {{ subject['quarter'][3] }} {% endif %}</td>
            <td>{% if subject['quarter'][4] matches float_match %} {{ subject['quarter'][4]|round }} {% else %} {{ subject['quarter'][4] }} {% endif %}</td>
        </tr>
    {% endfor %}
    </tbody>
{% endset %}

{% block content %}
    {% include '@EduBox/Block/box_table.html.twig' with {'table_content': table_content, 'box_title': (student.fullname)} only %}
{% endblock %}