{% extends '@EduBox/admin_layout.html.twig' %}

{% set title = 'Students_group_create'|trans([], 'EduBoxBundle') %}

{% block actions %}
    <li>
        <a class="sonata-action-element" href="{{ path('edubox.admin.students_group_list') }}">
            <i class="fa fa-list" aria-hidden="true"></i>
            {{ 'link_action_list'|trans([], 'SonataAdminBundle') }}
        </a>
    </li>
{% endblock %}

{% set box_body %}
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                {% include '@EduBox/Field/input.html.twig' with {'field':students_group_form.number} %}
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                {% include '@EduBox/Field/input.html.twig' with {'field':students_group_form.letter} %}
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                {% include '@EduBox/Field/input.html.twig' with {'field':students_group_form.subjects} %}
            </div>
        </div>
    </div>

{% endset %}

{% block content %}
    {{ form_start(students_group_form) }}
        {% include '@EduBox/Block/box.html.twig' with {'box_body':box_body} %}
        <div class="sonata-ba-form-actions well well-small form-actions">
            <button type="submit" class="btn btn-success">
                <i class="fa fa-save"></i>
                {{ 'btn_create'|trans([], 'SonataAdminBundle') }}
            </button>
        </div>
    {{ form_end(students_group_form) }}
{% endblock %}
