{% set label = label is defined ? label : field.vars.label %}
{% set default_attr = {'class':'datepicker form-control'} %}
{% set field_attr = field_attr is defined ? field_attr + default_attr : default_attr %}



{{ form_label(field, label) }}

<div class="input-group date">
    <div class="input-group-addon">
        <i class="fa fa-calendar"></i>
    </div>
    {{ form_widget(field, {'attr':field_attr}) }}
</div>
<script>
    {% if minDate is defined %}
        var minDate = new Date("{{ minDate }} 12:00");
    {% else %}
        var minDate = "-120Y";
    {% endif %}

    {% if maxDate is defined %}
        var maxDate = new Date("{{ maxDate }} 12:00");
    {% else %}
        var maxDate = "-4Y";
    {% endif %}
    $('#{{ field.vars.id }}').datepicker({
        changeMonth: true,
        changeYear: true,
        dateFormat:'yy-mm-dd',
        minDate: minDate,
        maxDate: maxDate,
    });
</script>